@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');


:root{
   --main-color:#1aa0c9;
   --red:#ff9900;
   --orange:#f39c12;
   --light-color:#000000;
   --light-bg:#eee;
   --black:#000000;
   --white:#ffffff;
   --border:.1rem solid rgba(9, 0, 0, 0.2);
}

button {
   background-color: #ef8409;
   color: white;
   padding: 10px 30px;
   border: none;
   border-radius: 8px;
   cursor: pointer;
}


body.dark{
   --light-color:#857070;
   --light-bg:#333;
   --black:#ffffff;
   --white:#222;
   --border:.1rem solid rgb(30, 26, 19);
   .courses .box-container .box{
      border-radius: 1rem;
      background-color: #00000040;
      padding: 2rem;
   }
}

button:hover {
   background-color: #9d3e03;
}

#traduccion {
   font-style: italic;
   margin-top: 1px;
}



*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}

*::selection{
   background-color: var(--main-color);
   color:#ffffff;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

html::-webkit-scrollbar{
   width: 2rem;
   height: .5rem;
}

html::-webkit-scrollbar-track{
   background-color: rgba(131, 125, 119, 0.973)
}

html::-webkit-scrollbar-thumb{
   background-color: #5d5757;
}

body{
   background-color: var(--light-bg);
   padding-left: 30rem;
}


body.active{
   padding-left: 0;
}



section{
    padding: 0 9;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
}


















section{
   padding:2rem;
   margin: 0 auto;
   max-width: 1200px;
}




.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    border-radius: 5rem;
    background: var(--degradado);
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    transition: all .3s linear;
}


.btn:hover{
    transform: scale(1.1);
}



















.heading{
   font-size: 2.5rem;
   color:var(--black);
   margin-bottom: 2.5rem;
   border-bottom: var(--border);
   padding-bottom: 1.5rem;
   text-transform: capitalize;
}

.inline-btn,
.inline-option-btn,
.inline-delete-btn,
.btn,
.delete-btn,
.option-btn{
   display: inline-block;
   border-radius: .5rem;
   color:#fff;
   font-size: 1.8rem;
   cursor: pointer;
   text-transform: capitalize;
   padding:1rem 3rem;
   text-align: center;
   margin-top: 1rem;
}



.btn,
.inline-btn{
   background-color: var(--main-color);
}


.header{
   position: sticky;
   top:0; left:0; right: 0;
   background-color: var(--white);
   z-index: 1000;
   border-bottom: var(--border);
}

.header .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   padding: 1.5rem 2rem;
}

.header .flex .logo{
   font-size: 2.5rem;
   color: var(--black);
}

.header .flex .search-form{
   width: 85rem;
   border-radius: .5rem;
   background-color: var(--light-bg);
   padding:1.5rem 2rem;
   display: flex;
   gap:2rem;

}

.header .flex .search-form input{
   width: 100%;
   font-size: 1.8rem;
   color:var(--black);
   background:none;
}



.header .flex .icons div{
   font-size: 2rem;
   color:var(--black);
   background-color: var(--light-bg);
   border-radius: .5rem;
   height: 4.5rem;
   width: 4.5rem;
   line-height: 4.5rem;
   cursor: pointer;
   text-align: center;
   margin-left: .7rem;
}

.header .flex .icons div:hover{
   background-color: var(--black);
   color:var(--white);
}

.header .flex .profile{
   position: absolute;
   top:120%; right: 2rem;
   background-color: var(--white);
   border-radius: .5rem;
   padding: 1.5rem;
   text-align: center;
   overflow: hidden;
   transform-origin: top right;
   transform: scale(0);
   transition: .2s linear;
   width: 30rem;
}

.header .flex .profile.active{
   transform: scale(1);
}

.header .flex .profile .image{
   height: 10rem;
   width: 10rem;
   border-radius: 50%;
   object-fit: contain;
   margin-bottom: 1rem;
}

.header .flex .profile .name{
   font-size: 2rem;
   color:var(--black);
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.header .flex .profile .role{
   font-size: 1.8rem;
   color: var(--light-color);
}




.home-grid{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/fondonaranja.jpg) no-repeat;
    background-size: cover;
    background-position: center;
   align-items: flex-start;
   max-width: 100%;
}

.home-grid .image img{
    width: 40vw;
    animation: float 3s linear infinite;
}

@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-3.5rem);
    }

}


.home-grid .content h3{
   margin-top: 10rem;
    font-size: 5.5rem;
    color: #000000;
    text-transform: uppercase;
}


.home-grid .content h2{
   font-size: 4.5rem;
    color: #ee7e0e;
    text-transform: uppercase;
}



.home-grid .content h4{
    font-size: 12px;
    color: #000000;
    padding: 1rem 0;
}




















#search-btn{
   display: none;
}

.side-bar{
   position: fixed;
   top: 0; left: 0;
   width: 30rem;
   background-color: var(--white);
   height: 100vh;
   border-right: var(--border);
   z-index: 1200;
}

.side-bar #close-btn{
   text-align: right;
   padding: 2rem;
   display: none;
}

.side-bar #close-btn i{
   text-align: right;
   font-size: 2.5rem;
   background:var(--red);
   border-radius: .5rem;
   color:var(--white);
   cursor: pointer;
   height: 4.5rem;
   width: 4.5rem;
   line-height: 4.5rem;
   text-align: center;
}

.side-bar #close-btn i:hover{
   background-color: var(--black);
}

.side-bar .profile{
   padding:3rem 2rem;
   text-align: center;
}

.side-bar .profile .image{
   height: 10rem;
   width: 10rem;
   border-radius: 50%;
   object-fit: contain;
   margin-bottom: 1rem;
}

.side-bar .profile .name{
   font-size: 2rem;
   color:var(--black);
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.side-bar .profile .role{
   font-size: 1.8rem;
   color: var(--light-color);
}

.side-bar .navbar a{
   display: block;
   padding: 2rem;
   font-size: 2rem;
}

.side-bar .navbar a i{
   margin-right: 1.5rem;
   color:var(--main-color);
   transition: .2s linear;
}

.side-bar .navbar a span{
   color:var(--light-color);
}

.side-bar .navbar a:hover{
   background-color: var(--light-bg);
}

.side-bar .navbar a:hover i{
   margin-right: 2.5rem;
}

.side-bar.active{
   left: -30rem;
}




.courses .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(22rem, 0fr));
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.courses .box-container .box{
   border-radius: 1rem;
   background-color: #d1d1d1;
   padding: 2rem;
}

.courses .box-container .box .tutor{
   display: flex;
   align-items: center;
   gap: 1.5rem;
   margin-bottom: 1.5rem;
}

.courses .box-container .box .tutor img{
   height: 5rem;
   width: 5rem;
   border-radius: 80%;
   object-fit: cover;
}

.courses .box-container .box .tutor h3{
   font-size: 1.8rem;
   color: var(--black);
   margin-bottom: .2rem;
}

.courses .box-container .box .tutor span{
   font-size: 1.3rem;
   color:var(--light-color);
}

.courses .box-container .box .thumb{
   position: relative;
}

.courses .box-container .box .thumb span{
   position: absolute;
   top: 1rem; left: 1rem;
   border-radius: .5rem;
   padding: .5rem 1.5rem;
   background-color: rgba(228, 119, 17, 0.973);
   color: #fff;
   font-size: 1.5rem;
}

.courses .box-container .box .thumb img{
   width: 100%;
   height: 20rem;
   object-fit: cover;
   border-radius: .9rem;
}

.courses .box-container .box .title{
   font-size: 2.1rem;
   color: var(--black);
   padding-bottom: .2rem;
   padding-top: 1rem;
}

.courses .more-btn{
   text-align: center;
   margin-top: 2rem;
}















.book {
   background-image: url('../images/librisu2.png');
   background-size: cover; /* Hace que la imagen cubra todo el contenedor */
   background-position: center; /* Centra la imagen */
   width: -500px;
   display: flex;
   padding: 10%;
   gap: 10rem;
   align-items: flex-start;
   height: 10%;
   max-width: 100%;
}

body.dark {
   .page{
   box-shadow: 2px 2px 50px rgb(0, 0, 0);
   background-color: #000000d3;
   color: #ffffff;
   }
   
}


.page {
   width: 45%;
   padding: 2rem;
   box-shadow: 2px 2px 50px rgb(80, 45, 7);
   border-radius: 10px;
   background-color: #ffffff;
   height: auto; /* Deja que la altura dependa del contenido */
   font-size: 1.5rem;
   color: #000000;
}





/* Ajustes para imágenes y contenedores de columna */
.thumb img {
   display: block;
   width: 100%;
   height: auto;
   max-width: 230%;
   border-radius: 10px;
}


.details {
   font-size: 1.5px;
   color: #1aa0c9;
}




/* Estilos adicionales para dispositivos pequeños */
































.footer{
   background-color: var(--white);
   border-top: var(--border);
   position: sticky;
   bottom: 0; left: 0; right: 0;
   text-align: center;
   font-size: 2rem;
   padding:2.5rem 2rem;
   color:var(--black);
   margin-top: 1rem;
   z-index: 1000;
   /* padding-bottom: 9.5rem; */
}

.footer span{
   color:var(--main-color);
}



@media (max-width:1200px){

   body{
      padding-left: 0;
   }

   .side-bar{
      left: -30rem;
      transition: .2s linear;
   }

   .side-bar #close-btn{
      display: block;
   }

   .side-bar.active{
      left: 0;
      box-shadow: 0 0 0 100vw rgba(0,0,0,.8);
      border-right: 0;
   }

}

@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   #search-btn{
      display: inline-block;
   }

   

   .header .flex .search-form.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .flex-btn{
      gap: 0;
      flex-flow: column;
   }

   .home-grid .box-container{
      grid-template-columns: 1fr;
   }

   .about .row .image img{
      height: 25rem;
   }

}







.Selector_imagenes {
   background-color: #857b7b;
   width: 100px;
   overflow: hidden; /*Esta propiedad hace que la parte de la imagen que no quepa dentro del tamaño del div desaparezca*/
   height: 100px;
   border-radius: 50%;
   display: flex; /*Apila elementos unos encima de otros o al lado una del otra y se ajustan¨*/
   align-items: center;
   position: relative; /*Nos permite mover el elemento a cualquier posicion usando por ejemplo "top" "buttom" etc.*/
   top: -10px;
   left: 80px;
 
    /* moverlo a la mitad de la pantalla*/



}  


#profilePic {
   width: 100%;
   height: 100%;
   object-fit: cover; /*la imagen ocupa todo el contenedor en caso de que no*/
   border-radius: 50%;
   background-color: aliceblue;

}


.hidden-input {
   display: none;
   
}

.custom-button {
   background-color: #1aa0c9; 
   color: white; 
   padding: 10px 20px; 

   border: none; 
   border-radius: 5px; 
   cursor: pointer; 
   position: relative;
   top: -10px;

}




AUDIO


body {
   font-family: 'Times New Roman', Times, serif;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #000000;
 }

 body.dark {
   .audio-container {
      background: #515151;
      box-shadow: 50 50px 50px rgba(0, 0, 0, 0.2);
   }
   .controls {
      color: #ffffff;
      
   }
   .select {
      background-color: #ffffff;
      color: #ffffff;
   }
   .span {
      color: #ffffff;
   }
 }




 .audio-container {
   height: 50px;
   width: -20px;
   background: #d1d1d1;
   padding: 15px 20px;
   border-radius: 10px;
   box-shadow: 50 50px 50px rgba(0, 0, 0, 0.2);
   display: inline-flex;
   align-items: center;
   gap: 5px;
   margin-top: 15px;
   margin-bottom: 15px;
 }
 
 .controls {
   color: #000000;
   display: flex;
   align-items: center;
   gap: 10px;
 }
 
 #playPauseBtn {
   font-size: 30px;
   padding: 5px;
   cursor: pointer;
   border: none;
   background-color: transparent;
 }

 #playPauseBtn2 {
   font-size: 30px;
   padding: 5px;
   cursor: pointer;
   border: none;
   background-color: transparent;
 }

 
 select {
   background-color: #ffffff;
   padding: 1px;
   color: #000000;
   font-size: 14px;
   border: 1px solid #ffffff;
   border-radius: 5px;
   outline: none;
   cursor: pointer;
 }
 
 span {
   font-size: 14px;
   color: #000000;
 }
 
